html 
{
    background-color:#f3f3f3; 
}

.menu-bar ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #adacb5; 
    border: 1px solid #e7e7e7;
    width: 100%;
    left: 0;
    top: 0;
}

.menu-bar li 
{
    float: left;
}

.menu-bar li a 
{
    display: block;
    color: #2d3142;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

.menu-bar li a:hover
{
    background-color: #75DBCD; 
    color: white;
}

.menu-bar .active 
{
    background-color: #75DBCD; 
    float: right;
}

.menu-bar .active li a
{
    color: #fff;
}

.me-pic 
{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #75DBCD;
    box-shadow: 3px 3px 15px #555960;
    position: relative;
    top: 80px;
}

footer 
{
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: #adacb5;
}

footer p
{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #2d3142;
}

.bio
{
    text-align: center;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 140px;
}

.bio p 
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.slideshow img
{
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 30px;
}

.demo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
    padding: 0;
    margin: 0;
}