@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky { 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.top {  
    z-index: 1;
}

.timeline-main-wrapper { 
    z-index: 0;
}